# Graded_Assignment

## Objective  
- Introduction
- data Science languages
- data science libraries
- Data science tools table
- arithmetic expressions
- code to add and multiply 2 numbers
- code to convert minutes to hours

### Introduction
Hello, I am Aditya Machal   
currently persuing Bechalors of Technology in Computer Science and Engineering (Second Year)
from lovely professional university

__Data Science Languages__:
   - Python
   - R
   - SQL
   - Julia
   - Scala
   - C++
   - Javascript
   - php
   - Go
   - Ruby
   - Visual Basic

__Data Scinece Libraries__: 
- NumPy
- Pandas
- MAtplotlib
- Seaborn
- plotly
- keras
- pytorch
- Ggplot2
- pytorch
- Apache Spark
- Big DL
- Vegas

# Data Science Tools

- Anaconda
- RStudio
- Jupyter
- spyder
- zeppelin

# Important tools table(personal use)
   
|Category                            |  Tools                                                                               |   
|------------------------------------|--------------------------------------------------------------------------------------|
|Data Manangement                    | MySQL, PostgreSQL, CouchDB, MongoDB, Hadoop, elastisearch                            |
|IDE                                 | VSCode, Pycharm, RStudio, Spyder, Google Colab                                       |
|Data intergration and transformation|SparkSQL, Kubeflow, Kafka, NODE-RED, Airflow, nifi                                    |
|Data Visualization                  |Tableau, Power BI, Kibana, Pixiedust, Hue, SuperSet                                   |
|Model Deployment                    |Kubernetes, Tensorflow.js, Tensorflowlite, PredictionIO, Seldon, OpenShift, Mleap     |
|Model Monitoring and Assesment      | ModelDB, AI Fairness 360, AI Explainability 360, Prometheus, Adversial Robustness 360|
|Code Asset                          | Git, Github, Gitlab, Bitbucket                                                       |
|Data Asset                          | Egiria, Kylo, Atlas                                                                  |

**Examples of Evaluating arithmetic operations in Python**

In [10]:
#simple arithmetic expression to multiply and add integers.
(32*22)+96

800

In [12]:
# A simple code to convert 578 minutes to hours.
578//60

9

# Author(s)
    Aditya Machal